.card{
  width: 100%;
  margin: 1%;
 background-color: #eee;/*背景颜色 占位*/
 overflow:hidden;
 border-radius: 16px;
}
.img{
   width: 100px;
   height: 100px;
   object-fit: cover;/*保持元素的宽高比 剪裁*/
   display: block;
}